html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu{
    margin: 0;
    padding: 0;
    max-width: 640px;
}
html,body{
    color: #333333;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
input{
    outline: none;
}
/* input-placeholder */
input::-webkit-input-placeholder {
    color: #cccccc;
}
input:-moz-placeholder {
    color: #cccccc;
}
input::-moz-placeholder {
    color: #cccccc;
}
input:-ms-input-placeholder { 
    color: #cccccc;
}
/* 头部 */
header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    font-size: 16px !important;
    background-color: #ffffff !important;
    color: #333333 !important;
}
header a.back_btn{
    display: block;
    height: 40px;
    width: 40px;
    float: left;
}
header .back_btn i{
    display: block;
    width: 12px;
    height: 20px;
    background: url(../../assets/img/back_btn.png) no-repeat;
    background-size: 100% 100%;
    margin: 10px 14px;
}
header a.title{
    display: block;
    width: calc(100% - 80px);
    height: 40px;
    float: left;
}
/* 主体 */
.content{
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.main{
    height: calc(100% - 40px);
    overflow-y: auto;
}